/* @media (max-width: 90em) {
    .main-title-hero {
        font-size: 4rem;
    }
    
    .sub-content-hero {
        font-size: 1.6rem;
    }


}


@media (max-width: 75em) {
    .main-title-hero {
        font-size: 3.4rem;
    }
    .sub-content-hero {
        font-size: 1.4rem;
    }
    .games-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .item-lst {
        display: none;
    }
    .grid--3-col {
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
    }
}

@media (max-width: 60em) {
    .main-title-hero {
        font-size: 2.6rem;
    }

    .sub-content-hero .btn{
        font-size: 1.2rem;
    }
} */

@media (max-width: 84em) {
    /* .main-title-hero {
        font-size: 4.2rem;
    } */
    
    /* .sub-content-hero {
        font-size: 1.6rem;
    } */

    .games-gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }

    /* .grid--3-col {
        grid-template-columns: 1fr 1fr;
    } */

    .item-lst {
        display: none;
    }

    .link-middle-sec {
        gap: 3.2rem;
    }

    .grid--3-col {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 75em) {
    html {
        font-size: 52.25%;
    }

    /* .main-title-hero {
        font-size: 6rem;
    } */

    .heading-common {
        font-size: 3.2rem;
    }

    body h3 {
        font-size: 2.4rem;
    }

    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem; 
    }
}

@media (max-width: 59em) {
    html {
        font-size: 46%;
    }

    .gamers {
        margin-top: 3.8rem;
    }

    .feature-in-container img {
        height: 2.4rem;
    }

    .section-testimonials {
        grid-template-columns: 1fr;
    }

    .games-gallery {
        grid-template-columns: repeat(5, 1fr);
    }

    .item-lst {
        display: block;
    }

    .heading-common {
        margin-bottom: 6.2rem;
    }


    
}

@media (max-width: 48.5em) {
    html {
        font-size: 42%;
    }

    .grid-subscription {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .subscriptions-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
      }

    .subscription-card {
        width: 44rem;
    }

    .heading-common {
        margin-bottom: 4.2rem;
    }

    .link-middle-sec, .mobile-container {
        display: none;
    }
    
}